.home{
  padding: 24px;
  min-height: 100vh;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.grid-left-area,
.grid-right-area{
  background: #fff;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08),
              0 10px 20px rgba(0,0,0,0.10);
}

.task-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.My-task-todo,
.Add-Task{
  display: flex;
  align-items: center;
  gap: 6px;
}

.grid-container .text{
  font-size: 14px;
  color: #777;
  white-space: nowrap;
}

.task-card-section{
  /* background-color: green; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}



.todo-card{
  background: #f6f7fb;
  border-radius: 18px;
  padding: 1px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.card-header{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}

.card-popup{
  position: absolute;
  background-color: white;
  padding: 12px;
  top: 12px;
  right: 25px;
  z-index: 100;
  display: none;
}

.card-popup.active{
  display: block;
}

.card-popup ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.card-popup li{
  list-style: none;
  font-size: 15px;
  transition: all 0.3s ease;
  padding: 10px;
  border-radius: 12px;
}

.card-popup li:hover{
background-color: rgb(234, 228, 228);
}

.task-card{
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 14px;
}

.task-checkbox input{
  width: 22px;
  height: 22px;
  accent-color: #ff7a7a;  
  cursor: pointer;
}

.task-details{
  flex: 1;
}

.task-details span{
  font-size: 20px;
  font-weight: 600;
  color: #222;
  display: block;
}

.task-details p{
  font-size: 15px;
  color: #777;
  margin-top: 8px;
  line-height: 1.4;
}


.img-card{
  width: 180px;
  flex-shrink: 0;
  border-radius: 14px;
  overflow: hidden;
}

.task-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.task-Progress{
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-left: 38px;
}

.progress-key{
  font-size: 13px;
  color: #555;
}

.progress-key span{
  font-weight: 600;
  color: #222;
}

.grid-right-area .Task-bar-section{
  background-color: rgb(247, 167, 167);
  height: 180px;
}


.grid-right-area .complete-tasks-section{
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px 25px;

}

.icon{
  font-size: 20px;
  color: #ff7a7a;
  cursor: pointer;
}

.grid-right-area .complete-tasks-section-header{
  margin-top: 50px;
}


@media (max-width: 700px){

  .task-card{
    flex-direction: column;
  }

  .img-card{
    width: 100%;
  }

  .task-Progress{
    margin-left: 0;
  }

}
