.Todo-header{
    background-color: rgb(255, 240, 223);
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 100%;
}


.todo-logo{
    font-weight: 600;
    margin-left: 30px;
    font-size: 22px;
    white-space: nowrap;
}

.todo-search-container{
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50vw;
    flex: 1;
    min-width: 0;
    position: relative;   
    display: flex;
    align-items: center;
}

#task-search-input{
    flex: 1;
    width: 0;
    min-width: 0;
    height : 29px;
    border-radius: 7px;
    outline : none;
    border:none;
    padding-left : 12px;
}

#todo-search-button{
    background-color: rgb(255, 122, 122);
    border-radius: 7px;
    outline: none;
    border : none;
    padding: 3px;
    margin-left: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


/* dropdown floating box */
.todo-dropdown{
  position: absolute;   
  top: 110%;            
  left: 0;
  width: 100%;

  background: white;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);

  display: none;       
  flex-direction: column;
  z-index: 10;
}

/* open state */

/* .todo-dropdown.show{
  display: block;
} */

.search-output{
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  cursor: pointer;
}

.search-output:hover{
  background-color: #f2f2f2;
}


.calender{
    margin-right: 30px;
}


.sidebar{
    background-color:rgb(255, 122, 122); 
    position: absolute;
    display: flex;
    flex-direction: column;
}