
.sidebar{
    background-color:rgb(255, 122, 122); 
    position: fixed;
    top: 108px;
    left: 0;
    height: 100%;
    width: 245px;
    /* border-radius: top-left top-right bottom-right bottom-left; */
    border-radius: 0 10px 10px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s;
}
 
.sidebar.close{
    width: 88px;
}

.sidebar-header{
    position: relative;
    margin-bottom: 15px;
}

.sidebar .toggle{
    position: absolute;
    top: 50%;
    right: -20px;
    height: 25px;
    background-color: rgb(255, 122, 122); ;
    width: 25px;
    transform: translateY(-50%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
}

.sidebar.close .text{
  opacity: 0;
}

.sidebar li{
    display: flex;
    align-items: center;
    margin-top: 15px;
    height: 50px;
    list-style: none;
    border-radius: 13px;
}

.sidebar li .icon{
    min-width: 60px;
    font-size: 22px;
}

.sidebar li .text{
    font-size: 15px;
    white-space: nowrap;
    transition: all 0.4s;
    opacity: 1;
}

.sidebar li .icon,
.sidebar li .text{
    color: white;
    transition: color 0.3s;

}

.sidebar li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 13px;
    width: 100%;
    transition: background-color 0.3s;
}

.sidebar li a:hover{
    background-color: white;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: rgb(255, 122, 122);
}



